.cursor {
    pointer-events: none;
    
    .cursor-ball {
        position: fixed;
        top: 0;
        left: 0;
        mix-blend-mode: difference;
        fill: #f7f8fa;
        z-index: 100001;
      
        .circle {
            fill: #f7f8fa;
        }
    }      
}