.footer{
    padding: 100px 10% 40px 10%;
    background-color: #111;
    font-size: 14px;

    .main{
        display: flex;
    }
}

.col-1{
    width: 300px;
    border-right: 2px solid #2e2e2e;
    margin-top: 20px;

    .logo-f{
        width: 220px;
        height: 120px;
        margin-bottom: 30px;
    }

    .logo-img-f{
        width: 220px;
        height: 120px;
        margin-left: -50px;
        object-fit: contain;
    }

    .slogan{
        margin-top: 20px;
        margin-left: 10px;
        color: #fff;
        font-weight: 400;
        margin-bottom: 15px;
    }

    .social{
        font-size: 25px;
        list-style: none;
        text-decoration: none;
        margin-top: 20px;
        margin-left: 10px;
        color: #fff;
    }

    .social-icon{
        color: #fff;
    }
}

.col-2{
    margin-left: 50px;
    margin-top: 70px;
    width: 300px;

    .header{
        text-transform: capitalize;
        color: #fff;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .header::before{
        content: '';
        display: block;
        height: 5px;
        width: 30px;
        background-color: #ff9900;
        animation: size 5s ease-in-out infinite;
    }

    .col-2-list{
        color: #fff;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }

    .learning{
        color: #fff;
        margin-bottom: 2px;
    }
}

@keyframes size {
    0%, 100%{
        width: 30px;
    }
    
    50%, 90%{
        width: 50px;
    }
}