*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding: 50px;
    box-sizing: border-box;
    cursor: none;
}

::-webkit-scrollbar{
    display: none;
}

body {
    overflow-x: hidden;
    background: #111222;
}

.navbar{
    box-sizing: border-box;
    max-width: 100%;
    padding: 10px 10%;
    display: flex;
    height: 80px;
    background-color: #111222;
    align-items: center;
    transition: 0.5s ease-in-out;

    .logo{
        margin-right: auto;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
    }

    .logo-img{
        width: 180px;
        height: 60px;
        object-fit: contain;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }

    .btns{
        list-style: none;
        z-index: 2;
    }

    .btn{
        text-transform: uppercase;
        margin: 5px;
        padding: 10px 15px;
        border-radius: 50px;
        font-weight: 800;
        font-size: 16px;
        text-decoration: none;
        color:#fff;
        transition: 0.5s ease-in-out;
        background: none;
        border: none;
        text-align: left;
        font-family: "Montserrat", sans-serif;
    }


    .menu{
        border: none;
        background: transparent;
        display: none;
    }
}

.menu{
    .line{
        height: 4px;
        border-radius: 20px;
        background-color: #fff;
        transition: 0.3s ease-in-out;
    }

    .line:nth-child(1){
        width: 20px;
        margin-bottom: 4px;
    }

    .line:nth-child(2){
        width: 15px;
        margin-bottom: 4px;
        opacity: 1;
    }

    .line:nth-child(3){
        width: 23px;
    }
}

.menu:hover{
    .line:nth-child(1){
        width: 23px;
    }

    .line:nth-child(2){
        width: 23px;
        opacity: 1;
    }

    .line:nth-child(3){
        width: 23px;
    }
}

.navbar.sticky{
    width: 950px;
    padding: 5px 10%;
    height: 60px;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #ececec;
    border-bottom-right-radius: 20px;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2);

    .btn{
        color: #111;
    }

    .logo{
        margin-right: auto;
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 950px) {
    .navbar{
        position: relative;
        z-index: 10000;
        
        .btns{
            .Nav-li{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: -50%;
                left: -50%;
                transition: 0.5s ease-in-out;
            }
        }

        .menu{
            display: block;
        }
    }

    .navbar.open{
        z-index: 10000;
        height: 100%;

        .line:nth-child(1){
            width: 30px;
            transform: rotate(45deg) translateY(5px);
        }

        .line:nth-child(2){
            opacity: 0;
            transform: rotate(45deg);
        }

        .line:nth-child(3){
            width: 30px;
            transform: rotate(-45deg) translateY(-10px) translateX(5px);
        }

        .Nav-li{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .navbar.sticky{
        border-radius: 0;

        .line{
            background-color: #111;
        }
    }
}

@media only screen and (min-width: 1080px){
    .navbar.sticky{
        padding: 10px 20px 10px 5%;
    }
}
