:root{
    --bg: transparent;
    --glow1: #ff9b0e;
    --glow2: #ececec;

    --size: 3em;
}

 .demo{
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    height: fit-content;
    padding: 0 15%;
    background: #111222;
    position: relative;

    .image{
        width: 100%;
        overflow: hidden;

        .room{
            width: 100%;
            filter: brightness(80%);
        }
    }

    .elements{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 15%;

        #thermostat-btn{
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s ease-in-out;

            .tooltip-img{
                width: 90px;
            }
        }

        #bulb-btn{
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s ease-in-out;

            .tooltip-img{
                width: 90px;
            }
        }

        #thermostat-btn:hover,
        #bulb-btn:hover{
            background: rgba(255, 255, 255, 0.9);
        }

        #thermostat-btn:hover ~ .tooltip{
            opacity: 1;
        }

        .dot:nth-child(1){
            position: absolute;
            top: calc(25%);
            right: 17%;
        }

        .dot:nth-child(2){
            position: absolute;
            top: calc(2%);
            right: 45%;
        }

        .thermostat-dropdown{
            position: absolute;
            width: 250px;
            right: 40px;
            top: 0;
            pointer-events: none;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            padding: 20px;
            opacity: 0;
            transition: 0.3s ease-in-out;

            .product-img{
                width: 60px;
                height: 60px;
                aspect-ratio: 1/1;
            }
        }

        .bulb-dropdown{
            position: absolute;
            width: 250px;
            top: 40px;
            left: 0;
            opacity: 0;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            padding: 20px;
            pointer-events: none;
            transition: 0.3s ease-in-out;

            .product-img{
                width: 60px;
                height: 60px;
                aspect-ratio: 1/1;
            }
        }

        .product-option{
            border-bottom: 2px solid rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            transition: 0.3s ease-in-out;
        }

        .product-option:hover{
            background: rgba(0, 0, 0, 0.5);
        }

        .product-option:last-child{
            border: none;
        }

        .bulb-dropdown.show{
            pointer-events: all;
            opacity: 1;
        }

        .thermostat-dropdown.show{
            pointer-events: all;
            opacity: 1;
        }
    }

    .phone{
        position: absolute;
        left: calc(10px + 15%);
        bottom: 10px;
        aspect-ratio: 16/9;
        width: 230px;
        height: 440px;
        background: #000;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .screen{
            position: relative;
            background: #ececec;
            width: 210px;
            height: 420px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .fore-cam{
                position: absolute;
                top: -10px;
                left: 50%;
                transform: translate(-50%, 0);
                width: 120px;
                height: 30px;
                border-radius: 30px;
                background: #000;
            }
        }

        .logo-phone{
            margin: 50px;
            width: 100px;
        }

        .light{
            width: 200px;
            margin-top: -35px;
        }

        .title{
            font-weight: 600;
        }
        
        #colorInput{
            margin: 5px;
            height: 8px;
            border-radius: 200px;
            background-color: rgba(0, 0, 0, 0.05);
            border: none;
            outline: none;
            -webkit-appearance: none;
        }

        #colorInput::-webkit-slider-thumb{
            -webkit-appearance: none;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background-color: var(--glow2);
            border: none;
        }
    }
 }

 @keyframes pulse {
    0% { 
      box-shadow:
        
        0 0 0 0 var(--bg),
        0 0 2px 3px var(--glow1), 
        
        0 0 1px 32px var(--bg),
        0 0 32px 25px var(--glow1);
      
    }
    
    49.9% {
      
      box-shadow:
        0 0 1px 32px var(--bg),
        0 0 32px 25px var(--glow1),
        
        0 0 1px 64px var(--bg),
        0 0 60px 25px var(--glow1)
    }
    
    50% {
      box-shadow:
        0 0 0 0 var(--bg),
        0 0 2px 3px var(--glow1),
        
        
        0 0 1px 32px var(--bg),
        0 0 32px 25px var(--glow1);
    }
    
    100% {
      box-shadow: 
        0 0 1px 32px var(--bg),
        0 0 32px 25px var(--glow1),
        
        0 0 1px 64px var(--bg),
        0 0 60px 25px var(--glow1);
    }
}

@keyframes pulseBulb {
    0% { 
      box-shadow:
        
        0 0 0 0 var(--bg),
        0 0 2px 3px var(--glow2), 
        
        0 0 1px 32px var(--bg),
        0 0 32px 25px var(--glow2);
      
    }
    
    49.9% {
      
      box-shadow:
        0 0 1px 32px var(--bg),
        0 0 32px 25px var(--glow2),
        
        0 0 1px 64px var(--bg),
        0 0 60px 25px var(--glow2)
    }
    
    50% {
      box-shadow:
        0 0 0 0 var(--bg),
        0 0 2px 3px var(--glow2),
        
        
        0 0 1px 32px var(--bg),
        0 0 32px 25px var(--glow2);
    }
    
    100% {
      box-shadow: 
        0 0 1px 32px var(--bg),
        0 0 32px 25px var(--glow2),
        
        0 0 1px 64px var(--bg),
        0 0 60px 25px var(--glow2);
    }
}