.icons{
    background: #111222;
    color: #fff;
    padding: 40px 15%;
    display: flex;
    justify-content: space-between;

    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 300px;

        .header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .img{
                display: flex;
                justify-content: center;
                align-items: center;  
                height: 80px;
                width: 80px;
                font-size: 34px;
                border: 2px solid #acacac;
                border-radius: 50%;
                transition: 0.3s ease-in-out;
            }

        }
    }

    .box-1{
        .img:hover{
            color: rgb(88, 255, 116);
            border: 2px solid rgb(88, 255, 116);
        }
    }

    .box-2{
        .img:hover{
            color: rgb(255, 89, 89);
            border: 2px solid rgb(255, 89, 89);
        }
    }

    .box-3{
        .img:hover{
            color: rgb(79, 179, 255);
            border: 2px solid rgb(79, 179, 255);
        }
    }
}